.container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
}

input{
    width: 50px;
}

.form_container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#dynamicForm{
    background-color: red;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 50px;
}

.data_graphics{
    display: grid;
    background-color: tomato;
    grid-template-rows: auto 1fr;
    width: 100%;
    row-gap: 10px;
    padding: 10px;
}

.data_graphics__data{
background-color: wheat;
}



@media (max-width: 768px) {
    body {
      font-size: 14px;
      background-color: lightgray;
    }

    .container{
        display: grid;
        grid-template-rows: auto auto;
        gap: 20px;
        width: 100%;
        height: 100%;
    }

    .section{
        display: flex;
        flex-direction: column;
        
    }
    
  }
  
  /* Pantallas pequeñas (móviles) */
  @media (max-width: 480px) {
    body {
      font-size: 12px;
      background-color: lightblue;
    }

    .container{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        gap: 20px;
        width: 100%;
        height: 100%;
    }

  }